---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
import Welcome from "../components/Welcome.astro";
---

<Layout title="Whitebeam Wellbeing  – Mental Health and Wellbeing Coach, Clinical Hypnotherapy">
    <Welcome />
	<p class="mt-32">
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.

        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.
        Hey, my name is Finn and I'm in the process of building my skillset and freelance web development business.

    
    </p>
    <div class="flex flex-row items-center justify-between m-12">
        <InfoCard title="Unlock your best self" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
        <InfoCard title="Unconscious behaviours" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
        <InfoCard title="Overcome limiting beliefs" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
    </div>
</Layout>
