---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
import Welcome from "../components/Welcome.astro";
import Swiper from "../components/Swiper.astro";
import ContactForm from "../components/ContactMe.astro";
---

<Layout title="Whitebeam Wellbeing  – Mental Health and Wellbeing Coach, Clinical Hypnotherapy">
    <Welcome />
    <div id="what-i-do" class="flex flex-row items-center justify-between m-12">
        <InfoCard delay={500} title="Unlock your best self" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
        <InfoCard title="Unconscious behaviours" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
        <InfoCard title="Overcome limiting beliefs" text="This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. This info card is great. "/>
    </div>
    <Swiper />
    <ContactForm />
</Layout>

