---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
import Welcome from "../components/Welcome.astro";
import Swiper from "../components/Swiper.astro";
import ContactForm from "../components/ContactMe.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Whitebeam Wellbeing  – Mental Health and Wellbeing Coach, Clinical Hypnotherapy">
    <Welcome />
    <h1 id="what-i-do" class="text-center text-3xl font-bold mt-24">What I do</h1>
    <div class="flex flex-col items-center justify-center m-12 mt-12 md:flex-row md:justify-between">
        <InfoCard delay={500} imageUrl="sugarWithSpoon.jpg" class="mb-4 md:mb-0" href="/" title="The Sugar Coach" text="Cardio isn't a magic fix for sugar overindulgence. Sugar cravings pose a challenge, even with diet and exercise. We can tackle this together, using coaching and hypnosis in our session. Afterwards, enjoy an 8-minute daily recording for 3 weeks. When you're ready for change, I'm here to guide you. If not, that's okay too."/>
        <InfoCard delay={700} imageUrl="lifeCoaching.jpg" class="mb-4 md:mb-0" href="/" title="Life Coaching" text="I will help you understand and modify your unconscious behavior. My unique approach addresses these deeply rooted habits, replacing them with healthier alternatives. Together, let's reveal the hidden patterns of your behavior and construct a more intentional, rewarding life."/>
        <InfoCard delay={1000} imageUrl="hypnotherapy.jpg" href="/" title="Hypnotherapy" text="I will also help guide you in overcoming limiting beliefs. With a targeted, personalized approach, we'll tackle these barriers head-on, replacing them with empowering self-concepts. Join me in this transformative journey and let's sculpt a reality where your potential knows no limits."/>
        <InfoCard delay={1000} imageUrl="soundHealing.jpg" href="/" title="Sound Healing" text="I will also help guide you in overcoming limiting beliefs. With a targeted, personalized approach, we'll tackle these barriers head-on, replacing them with empowering self-concepts. Join me in this transformative journey and let's sculpt a reality where your potential knows no limits."/>
    </div>

    <h1 id="testimonials" class="text-center text-3xl font-bold">Testimonials</h1>
    <Testimonials />
    <ContactForm />
</Layout>

