---
import { Astro } from 'astro';
---

<footer class="bg-wb-ivory flex py-10 px-6 text-gray-800 space-x-6">
  <div class="flex-1">
    <div class="text-2xl font-bold mb-2">Description</div>
    <div class="text-l">
      What can you expect when you come to Whitebeam Hypnotherapy?

First of all you can expect a warm welcome, you will have the opportunity to talk to me about the challenge or goal you would like to work on. I will find out more information as needed, we will chat about expectations and outcomes, we will work together.

We may use some of the following therapy models and skills; Life Coaching, Wellbeing Coaching, Family Constellation System Coaching, neuro linguistic programming, tapping & Hypnotherapy, the work will also include planning, organisation, a good dollop of patience all woven together with many years of expertise.  If you want to discuss working with me call me on ph 087 2393665.
    </div>
  </div>
  <div class="flex-1 flex justify-between ml-6 space-x-6">
    <div>
      <div class="text-xl font-bold mb-2">Contact</div>
      <div class="text-m">
        Address: Whitebeam Wellbeing Centre, Co.Carlow<br>
        Email: <a href="mailto:aisling@whitebeam.ie" class="text-indigo-600 hover:text-indigo-800 transition duration-200">aisling@whitebeam.ie</a><br>
        Telephone: <a href="tel:0872393665" class="text-indigo-600 hover:text-indigo-800 transition duration-200">0872393665</a>
      </div>
    </div>
    <div>
      <div class="text-xl font-bold mb-2">Quick Links</div>
      <div class="text-m">
        <a href="/service" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Services we offer</a><br>
        <a href="/about" class="text-indigo-600 hover:text-indigo-800 transition duration-200">About us</a><br>
        <a href="/#testimonials" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Reviews</a><br>
        <a href="/#contactUs" class="text-indigo-600 hover:text-indigo-800 transition duration-200">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
