---

---

<div class="fixed top-0 z-50 flex flex-row justify-between bg-wb-ivory h-1/8 w-full">
    <img class="h-24 w-1/16 m-4" src="WhitebeamLogo.jpg" />
    <a href="/#about" class="p-4 text-wb-dark-gray hover:text-wb-muted-mint">What I do</a>
    <a href="/#testimonials" class="p-4 text-wb-dark-gray hover:text-wb-muted-mint">Testimonials</a>
    <a href="/blog" class="p-4 text-wb-dark-gray hover:text-wb-muted-mint">Blog</a>
    <a href="/#contact" class="p-4 text-wb-dark-gray hover:text-wb-muted-mint">Contact</a>
</div>