---

---

<div class="flex flex-row bg-wb-ivory h-1/8">
    <img class="h-1/2 w-1/16" src="WhitebeamEntrance.jpg" />
    <a href="/#about" class="p-4 text-wb-muted-mint">What I do</a>
    <a href="/#testimonials" class="p-4">Testimonials</a>
    <a href="/blog" class="p-4">Blog</a>
    <a href="/#contact" class="p-4">Contact</a>
</div>