---
export interface props {
    title: string;
    text: string;
    src: string;
}

const {title, text, src} = Astro.props;
---

<div class="flex flex-col items-center text-center h-auto w-full md:w-1/2 mx-auto bg-wb-muted-mint rounded-lg p-8">
    <h1 class="font-semibold mb-4">{title}</h1>
    <p>{text}</p>
</div>

<style>
    .swiper-slide {
        opacity: 0.3; /* Start off faded out */
        transition: opacity 0.3s;
    }

    .swiper-slide-active {
        opacity: 1 !important; /* Be fully visible when active */
    }
</style>
